body {
    background-color: rgb(158, 224, 194);
    color: blueviolet;
}

.main_float {
    padding:47px;
}


img {
    max-width:100%;
    border-radius: 8px;
}

.image {
   width: 50%;
   background-size: contain;
}

div {
    width: 50%;
    box-sizing: border-box;
    float: left;
    height: 150px;
    overflow : hidden;
    padding: 5px;
    margin-bottom: 12px;
}

.w {
    width: 100%;
    clear: both;
}